<%= stylesheet_link_tag "lateral-menu" %>
<div class="lateral-menu">
  <div class="box-menu-link">
        <%= button_to "Dev Blogs", posts_path, method: :get, class: "menu-button" %>
        <%= button_to "Generals", posts_path, method: :get, class: "menu-button" %>
  </div>
  <div class="box-menu-socials">
      <% social_links = [
        { url: "https://www.linkedin.com/in/henalecam", image: "https://img.icons8.com/bubbles/200/linkedin.png", alt: "linkedin" },
        { url: "https://github.com/", image: "https://img.icons8.com/bubbles/200/github.png", alt: "github" },
        { url: "https://www.instagram.com/henalecam", image: "https://img.icons8.com/bubbles/200/instagram-new--v2.png", alt: "instagram" }
      ] %>
      <% social_links.each do |link| %>
        <%= link_to image_tag(link[:image], alt: link[:alt]), link[:url], target: "_blank", class: "social-link" %>
      <% end %>
  </div>
</div>

