.lateral-menu{
    top: 0;
    width: 375px;
    height: 100%;
    background-color: #6D8B2D;
}

.menu-link{
    text-decoration: none;
    color: #333;
    background-color: #BB5C37;
    padding: 25px;
    border-radius: 1em;
    transition: background-color 0.3s ease;
}

.menu-nav{
    margin: 2em 0;
    align-items: center;
    text-align: center;
}

.menu-link:hover{
    background-color: #E67E53;
}

.menu-link:active{
    background-color: #9E3C23;
}