.blog-posts{
    width: calc(100vw - 375px);
    height: 100svh;
    padding: 0.50em;
}
.blog-post {
    white-space: normal;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;
}

.post-options {
    width: 50%;
    text-align: center;
    background-color: #FCBF49;
    transition: width 0.3s ease-out, background-color 0.3s ease-out;
    box-shadow: inset 0 10px 25px rgba(0, 0, 0, 0.2);
}

.post-options:hover {
    width: 100%;
    text-align: center;
    background-color: #F77F00;
}